// http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
* { position: relative; vertical-align: baseline; }
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html { @include box-sizing(border-box); }
*, *:before, *:after { box-sizing: inherit; }

html { 
	background: $bodycolor;
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch;
	@include text-size-adjust(100%);
}

body {
	background-color: transparent;
	color: $textcolor;
	@include font-size($basefontsize);
	@include no-gutter;
	line-height: $baselineheight;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

body::before {
	content: '{ "current": "break1" }';
	display: none;
	@include media-query($break2) {
		content: '{ "current": "break2" }';
	};
	@include media-query($break3) {
		content: '{ "current": "break3" }';
	};
	@include media-query($break4) {
		content: '{ "current": "break4" }';
	};
	@include media-query($break5) {
		content: '{ "current": "break5" }';
	};
	@include media-query($break6) {
		content: '{ "current": "break6" }';
	};
}

// Clearing
.clearfix { @include clearfix; }